.wrapper{
  width: 1080px;
  margin: 0 auto;
  min-height: 100vh;
  height: 100%;
  padding: 0;
}

.d-flex{
    display: flex;
}
.buttons{
  justify-content: end;
  align-items: end;
}

.flex-column{
  flex-direction: column;
}

.planTitle{
  border: 1px solid green;
}