@font-face {
    font-family: 'Paperozi';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-9black.woff2') format('woff2');
    font-weight: 900;
    font-display: swap;
}
.wrapper{
  width: 1080px;
  margin: 0 auto;
  min-height: 100vh;
  height: 100%;
  padding: 0;
}

.d-flex{
    display: flex;
}
.buttons{
  justify-content: end;
  align-items: end;
}

.flex-column{
  flex-direction: column;
}

.planTitle{
  font-family: 'Paperozi';
}